@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root{
  --font1: "Roboto", sans-serif;
  --font2: "Kodo Mono", monospace;
  --font3: "Smooch Sans", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 75px;
  max-height: 75px;
  min-width: 100%;
  align-items: center;
  background-color: #fff;
}

header img{
  max-width: 80px;
  max-height: 75px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding: 0 20px;
  text-decoration: none;
  color: #666b79;
  font-family: var(--font2);
  font-weight: bold;
}

header nav a:hover {
  color: #73B0F2;
  transition: .5s;
}

header nav button {
  color: #666b79;
  font-family: var(--font2);
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  background-color: #73B0F2;
  color: #fff;
  border: none;
  border-radius: 3px;
}

header nav button:hover {
  background-color: #3E4043;
  cursor: pointer;
  transition: .5s;
}

#conteiner-img-pg-inicial {
  background: #fff url("../img/img-pg-inicial.jpg") no-repeat center scroll;
  background-size: 100vw 90vh;
  width: 100vw;
  height: 90vh;
}

#conteiner-img-pg-inicial img {
  min-width: 100vw;
  max-height: 85vh;
  z-index: 1;
  position: absolute;
}

main {
  z-index: 2;
  background-color: #fff;
  max-width: 1170px;
  transform: translateY(-200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner-qrcodes{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#qrcode1 {
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#qrcode1 p {
  font-family: var(--font1);
  font-size: 18px;
}

#qrcode1 span {
  font-weight: bold;
}

#qrcode2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#qrcode2 p {
  font-family: var(--font1);
  font-size: 18px;
}

#qrcode2 span {
  font-weight: bold;
}

.sibg {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.sibg p {
  text-align: justify;
  text-indent: 25px;
  font-family: var(--font1);
  color: #666b79;
}

.sibg h1 {
  font-family: var(--font3);
  margin-bottom: 15px;
  font-size: 32px;
  color: #00438a;
}

#icone-cruz {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 25px;
}

#titulo {
  display: flex;
  flex-direction: row;
  width: 1170px;
  align-items: center;
  margin-top: 100px;
}

#titulo h1 {
  font-family: var(--font1);
  font-size: 34px;
  min-width: 500px;
  text-align: center;
  font-weight: lighter;
  font-size: 64px;
  color: #007bff;
}

.separar {
  display: inline-block;
  padding-top: 2px;
  width: 100%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  color: #666b79;
  vertical-align: baseline;
}

.flickr {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-around;
}